@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply h-full overflow-x-hidden dark:text-slate-300 text-slate-600 font-normal;
  }

  .app-warp {

    &.light,
    &.skin--default {
      @apply bg-slate-100;
    }

    &.lght,
    &.skin--bordered {
      @apply bg-transparent;
    }

    &.dark {
      @apply bg-[#0f172a] text-slate-300;
    }
  }

  html,
  body {
    @apply h-full;
  }

  .dashcode-app-wrapper {
    @apply relative;
  }

  .single-sidebar-menu .ReactCollapse--collapse {
    transition: height 400ms;
  }

  .space-xy-5 {

    >div,
    >button,
    >a,
    label,
    >* {
      @apply mr-2 mb-2;
    }
  }

  .space-xy-6 {

    >div,
    >button,
    >a,
    label,
    >* {
      @apply mr-4 mb-2;
    }
  }

  html[dir="rtl"] {
    .recharts-wrapper {
      direction: rtl;
    }

    .recharts-yAxis {
      .recharts-text {
        text-anchor: start;
      }
    }
  }

  .dashcode-app {
    .leaflet-control {
      z-index: 0 !important;
    }

    .leaflet-control-container {
      z-index: 555 !important;
      position: relative;
    }

    .recharts-curve.recharts-tooltip-cursor {
      display: none;
    }

    .recharts-wrapper.bar-chart {
      .recharts-tooltip-cursor {
        fill: transparent;
      }
    }

    .recharts-tooltip-wrapper {
      border: none !important;
    }

    // .recharts-cartesian-grid line,
    // .recharts-polar-grid-angle line,
    // .recharts-yAxis line,
    // .recharts-xAxis line {
    //   @apply stroke-black-200 dark:stroke-slate-700;
    // }
  }
}

::-webkit-scrollbar {
  display: block;
}
// ::-webkit-scrollbar {
//   display: none;
// }

::-webkit-scrollbar {
  width: 1px !important;
  height: 1px !important;
}

::-webkit-scrollbar-thumb {
  background-color: #999; 
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.text-first-letter::first-letter {
  text-transform: uppercase;
}


/* Pagination Container */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

/* Pagination Item */
.pagination li {
  display: inline-block;
  padding: 5px 0px;
  border-radius: 4px;
  cursor: pointer;
}

/* Active Page */
.pagination li.active a {
  background-color: #F1B62E;
  color: white;
}

/* Hover Effect */
.pagination li:hover a {
  background-color: #F1B62E;
  color: #fff;
}

/* Previous and Next Buttons */

/* Disabled Previous and Next Buttons */
.pagination .previous.disabled,
.pagination .next.disabled {
  cursor: not-allowed;
}

#editor-2 > iframe {
  min-width: 600px !important
}

#map iframe {
  height: 400px !important;
  width: 100% !important;
}

#invoice {
  width: 210mm;
  min-height: 297mm;
  padding: 0;
  margin: 0;
  background: #faf1e6;
}
.page-break {
  page-break-before: always;
  page-break-inside: avoid;
}

@media print {
  .invoice-item {
    page-break-after: always;
  }

  .invoice-item:nth-child(2n) {
    page-break-after: always;
  }

  header, footer {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 100;
  }

  footer {
    bottom: 0;
  }
}


@layer components {
  @import "components/table.scss";
  @import "components/map.scss";
  @import "components/progress";
  @import "components/tippy";
  @import "components/swiper";
  @import "components/alert";
  @import "components/card";
  @import "components/auth";
  @import "components/button";
  @import "components/badge";
  @import "components/typography";
  @import "components/form";
  @import "components/input-group";
  @import "components/react-select";
  @import "components/pagination";
  @import "components/breadcrumbs";
  @import "layout/header";
  @import "layout/footer";
  @import "layout/sidebar";
  @import "layout/settings";
  @import "utility/mix";
  @import "utility/loading";
  @import "utility/css-animation";
  @import "utility/calander";
  @import "utility/full-calender";
  @import "components/print.scss";
}

@layer utilities {}